---
layout: default
title: 首页
---
<section id="zan-bodyer">
	<div class="container">
		<section class="row">
			<section id="mainstay" class="col-md-8">
				<div id="ie-warning" class="alert alert-danger fade in">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<i class="fa fa-warning"></i> 请注意，本博客并不支持低于IE8的浏览器，为了获得最佳效果，请下载最新的浏览器，推荐下载 <a href="http://www.google.cn/intl/zh-CN/chrome/" target="_blank"><i class="fa fa-compass"></i> Chrome</a>
				</div>
				<div class="well fade in">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					本博客<strong>不定期</strong>更新，如有工作推荐请给我<a target="_blank" href="/">留言</a>。感谢您的访问 <i class="fa fa-smile-o"></i>
				</div>
				{% for post in site.posts %}
				<div class="article well clearfix">
					<!-- 最近的一篇 -->
					{% if post.date == site.posts.first.date %}
					<i class="fa fa-bookmark article-stick visible-md visible-lg"></i>
					{% endif %}
					<div class="data-article hidden-xs">
						<span class="month">{{post.date | date:"%m"}}月</span>
						<span class="day">{{post.date | date:"%d"}}</span>
					</div>
					<!-- PC端设备文章属性 -->
					<section class="visible-md visible-lg">
						<div class="title-article">
							<h1><a href="{{ post.url }}">
								{{ post.title }}
							</a></h1>
						</div>
						<div class="tag-article container">
							<span class="label label-zan"><i class="fa fa-tags"></i> {{ post.tags.first }}</span>
							<span class="label label-zan"><i class="fa fa-user"></i> {{ post.author }}</span>
							<span class="label label-zan"><i class="fa fa-eye"></i> 1,200人</span>
						</div>
						<div class="content-article">					
							<figure class="thumbnail">
								{% if post.thumbnail %}
								<a href="{{ post.url }}">
									<img width="730" height="292" src="{{ post.thumbnail }}" class="attachment-730x300 wp-post-image" alt="{{ post.title }}" title="{{ post.title }}">
								</a>
								{% endif %}
							</figure>							
							<div class="alert alert-zan">					
								{{ post.excerpt | strip_html | truncate:250 }}
							</div>
						</div>
						<a class="btn btn-danger pull-right read-more" href="{{ post.url }}"  title="详细阅读 {{ post.title }}">阅读全文 <span class="badge">10</span></a>
					</section>
					<!-- PC端设备文章属性 -->
					<!-- 移动端设备文章属性 -->
					<section class="visible-xs  visible-sm">
						<div class="title-article">
							<h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
						</div>
						<p>
							<i class="fa fa-calendar"></i> {{post.date | date:"%m"}}-{{post.date | date:"%d"}}
							<i class="fa fa-eye"></i> 1,200人
						</p>
						<div class="content-article">					
							<figure class="thumbnail">
							{% if post.thumbnail %}
								<a href="{{ post.url }}">
									<img width="730" height="292" src="{{ post.thumbnail }}" class="attachment-730x300 wp-post-image" alt="{{ post.title }}" title="{{ post.title }}">
								</a>
							{% endif %}
							</figure>							
							<div class="alert alert-zan">					
								{{ post.excerpt | strip_html | truncate:150 }}
							</div>
						</div>
						<a class="btn btn-danger pull-right read-more btn-block" href="{{ post.url }}"  title="详细阅读 {{ post.title }}">阅读全文 <span class="badge">10</span></a>
					</section>
					<!-- 移动端设备文章属性 -->
				</div>
				{% endfor %}
			</section>
			{% include sidebar.html %}
			<div class="col-md-8">
				<a id="load-more" class="btn btn-zan btn-block" load-data="努力加载中..." href="/page/2"><i></i> <attr>加载更多</attr></a>
			</div>
		</section>
	</div>
</section>