<ul class="nav navbar-nav">
  <li class="menu-item current-menu-item">
    <a title="首页" href="/"> <i class="fa fa-home"></i>
      首页
    </a>
  </li>
  <li class="menu-item">
    <a title="文章" href="/"> <i class="fa fa-book"></i>
      文章
    </a>
  </li>
  <li class="dropdown menu-item">
    <a> <i class="fa fa-wrench"></i>
      其他
    </a>
    <ul class="dropdown-menu">
      <li class="menu-item">
        <a target="_blank" href=""> <i class="fa fa-pencil"></i>
          留言
        </a>
      </li>
      <li class="menu-item">
        <a target="_blank" href=""> <i class="fa fa-tags"></i>
          标签
        </a>
      </li>
    </ul>
  </li>
  <li class="menu-item">
    <a title="关于我" href="/"> <i class="fa fa-smile-o"></i>
      关于我
    </a>
  </li>
</ul>