<ul class="nav navbar-nav">
  <li class="menu-item current-menu-item">
    <a title="首页" href="/"> <i class="fa fa-home"></i>
      首页
    </a>
  </li>
  <li class="menu-item">
    <a title="文章" href="/"> <i class="fa fa-home"></i>
      文章
    </a>
  </li>
  <li class="dropdown menu-item">
    <a> <i class="fa fa-sort-asc"></i>
      其他
    </a>
    <ul class="dropdown-menu">
      <li class="menu-item">
        <a target="_blank" href="">留言</a>
      </li>
      <li class="menu-item">
        <a target="_blank" href="">分类</a>
      </li>
    </ul>
  </li>
  <li class="menu-item">
    <a title="关于我" href="/"> <i class="fa fa-home"></i>
      关于我
    </a>
  </li>
</ul>