<ul id="menu-navbar" class="nav navbar-nav">
  <li id="menu-item-215" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-215">
    <a title="Zanblog首页" href="/"> <i class="fa fa-home"></i>
      首页
    </a>
  </li>
  <li id="menu-item-676" class="dropdown menu-item menu-item-type-custom menu-item-object-custom menu-item-676">
    <a> <i class="fa fa-cog"></i>
      相关技术
    </a>
    <ul class="dropdown-menu">
      <li id="menu-item-677" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-677">
        <a target="_blank" href="http://www.yeahzan.com/blog/item/42-71.html">Bootstrap3</a>
      </li>
    </ul>
  </li>
</ul>