<aside id="sidebar"  class="col-md-4">
	<!-- 最热文章模块-->
	<div class="panel panel-zan hot">
		<div class="panel-heading">
			<i class="fa fa-fire"></i> 最热文章
			<i class="fa fa-times-circle panel-remove"></i>
			<i class="fa fa-chevron-circle-up panel-toggle"></i>
		</div>
		<!-- 大屏PC端、手机端 -->
		<ul class="list-group list-group-flush visible-lg visible-xs">
			{% for post in site.posts offset:8 limit:8 %}
			<li class="list-group-item">
				<a href="{{ post.url }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a>
				<span class="badge"> 110 </span>
			</li>
			{% endfor %}
		</ul>
		<!-- 小屏PC端 -->
		<ul class="list-group list-group-flush visible-md">
			{% for post in site.posts %}
			<li class="list-group-item">
				<a href="{{ post.url }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a>
				<span class="badge"> 110 </span>
			</li>
			{% endfor %}
		</ul>
		<!-- 平板端 -->
		<ul class="list-group list-group-flush visible-sm">
			{% for post in site.posts %}
			<li class="list-group-item">
				<a href="{{ post.url }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a>
				<span class="badge"> 110 </span>
			</li>
			{% endfor %}
		</ul>
	</div>
	<!-- 最新评论模块 -->
	<!-- 随机文章模块 -->
    <!-- 分类目录、热门标签、友情链接模块-->
	<div class="panel hidden-xs">
		<ul class="nav nav-pills pills-zan">
			<li class="active"><a href="#sidebar-categories" data-toggle="tab">分类目录</a></li>
			<li><a href="#sidebar-tags" data-toggle="tab">热门标签</a></li>
			{% if page.title == "首页" %}
			<li><a href="#sidebar-links" data-toggle="tab">友情链接</a></li>
			{% endif %}
		</ul>
		<div class="tab-content">
			<div class="tab-pane active nav bs-sidenav fade in" id="sidebar-categories"></div>
			<div class="tab-pane fade" id="sidebar-tags"></div>
			{% if page.title == "首页" %}
			<div class="tab-pane nav bs-sidenav fade" id="sidebar-links"></div>
			{% endif %}
		</div>
	</div>
	<!-- 文章存档模块	 -->
	<div class="panel visible-md visible-lg archive">
		<a href="/archive">
			<div class="panel-heading">			
				<i class="fa fa-folder-open"></i> <span>文章存档</span>			
			</div>
		</a>
	</div>
</aside>