---
layout: default
---
<div id="zan-bodyer" style="padding-top: 30px;">
	<div class="container">
		<section class="row">
			<div class="col-md-8">
				<article class="article well clearfix">
					<!-- 面包屑 -->
					<div class="breadcrumb">
					    <i class="fa fa-home"></i> <!-- Breadcrumb NavXT 4.4.0 -->
						<a title="Go to Home." href="/" class="home">Home</a> / {{ page.title }}
					</div>
					<!-- 面包屑 -->
					<p>
						{{ content }}
					</p>
				</article>
			</div>
			{% include sidebar.html %}
		</section>
	</div>
</div>